#wrapper{
    margin-top: 25px;
    margin: 25px auto;
    width: 100%;
    max-width: 770px;
    position: relative;
}
#img-area{
    height: 500px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    position: relative;
}
#img-boxes{
    height: 500px;
    position:relative;
}
img{
    width: 100%;
}
#img-boxes img{
    position: absolute;
    top: 0;
    left: -500px;
    width: 100%;
    transition: all linear 400ms;
    -webkit-transition: all linear 400ms;
    -moz-transition: all linear 400ms;
    -ms-transition: all linear 400ms;
    -o-transition: all linear 400ms;
    opacity: 0;
    z-index: 1;
}
#dots{
    margin: 20px;
    text-align: center;
    z-index: 10;
}
#dots a{
    text-decoration: none;
    margin: 2px;
    background: #2135ea;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px;
    width: 35px;
    height: 35px;
}
#dots a:hover{
    background: #889ceb;
    color: #000;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
#img-boxes img:target{
    left: 0;
    opacity: 1;
    z-index: 5;
}

/*------------Media Query---------------*/
@media (max-width: 670px){
    #img-area{
        height: 380px;
    }
}
@media (max-width: 500px){
    #img-area{
        height: 300px;
    }
}
@media (max-width: 395px){
    #img-area{
        height: 250px;
    }
}